{%- liquid
  assign target = product
  assign product = section.settings.product | default: target
-%}
{%- if product.type != blank -%}
{%- liquid
  if settings.use_url_collection_type
    assign pr_type_handle = product.type | handle
    assign collection_type = collections[pr_type_handle]
  endif
-%}
<div class="hdt-type-wrapper hdt-s-text2">{{ 'products.product.type' | t }} <span class="hdt-productMeta__value hdt-type-value hdt-csecondary hdt-inline-block hdt-s-text"><a href="{% if settings.use_link_type and collection_type.url != blank %}{{ collection_type.url }}{% else %}{{ product.type | url_for_type }}{% endif %}">{{ product.type }}</a></span></div>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.main-product.blocks.meta.settings.show_type.label",
  "tag": null,
  "presets": [{ "name": "t:sections.main-product.blocks.meta.settings.show_type.label" }]
}
{% endschema %}