<div class="hdt-product-info__item hdt-product__meta" {{ block.shopify_attributes }}>
  {% content_for "blocks" %}
</div>
{% schema %}
{
  "name": "t:sections.main-product.blocks.meta.name",
  "tag": null,
  "blocks": [
    {
      "type": "_product-meta-options"
    },
    {
      "type": "_product-meta-vendor"
    },
    {
      "type": "_product-meta-type"
    },
    {
      "type": "_product-meta-sku"
    },
    {
      "type": "_product-meta-barcode"
    },
    {
      "type": "_product-meta-available"
    },
    {
      "type": "_product-meta-category"
    },
    {
      "type": "_product-meta-tags"
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-product.blocks.meta.name"
    }
  ]
}
{% endschema %}