{%- liquid
  assign target = product
  assign product = section.settings.product | default: target
  if settings.pick_mode == 'no' and product.variants.size > 1
    assign selected_variant = product.selected_variant
  elsif settings.pick_mode == 'first' and settings.hide_sold_out == false
    assign selected_variant = product.selected_variant | default: product.variants.first
  else
    assign selected_variant = product.selected_or_first_available_variant
  endif
  assign product_form_id = 'product-form-' | append: section.id | append: product.id 
-%}
<hdt-variant-live is="barcode" form="{{ product_form_id }}"{% if selected_variant.barcode == '' %} hidden{% endif %} class="hdt-barcode-wrapper hdt-product__meta-item hdt-s-text2" {{ block.shopify_attributes }}>{{ 'products.product.barcode' | t }} <span update-value class="hdt-s-text">{{ selected_variant.barcode }}</span></hdt-variant-live>
{% schema %}
{
  "name": "t:sections.main-product.blocks.meta.settings.show_barcode.label",
  "tag": null,
  "presets": [{ "name": "t:sections.main-product.blocks.meta.settings.show_barcode.label" }]
}
{% endschema %}