{%- if block.settings.label != blank -%}
  <a {% if block.settings.url == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.url }}"{% endif %} {% if block.settings.open_in_new_tab %} target="_blank" {% endif -%} class="hdt-s-text hdt-text-base hdt-font-semibold">{{ block.settings.label }}</a>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.main-product.blocks.extra_link.link_custom.name",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "t:sections.main-product.blocks.extra_link.link_custom.settings.label"
    },
    {
      "type": "url",
      "id": "url",
      "label": "t:sections.main-product.blocks.extra_link.link_custom.settings.link"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "t:sections.all.open_link.target.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-product.blocks.extra_link.link_custom.name"
    }
  ]
}
{% endschema %}
