<!-- blocks/_shipping.liquid -->
<div id="Scroll-{{ block.id }}" class="hdt-ship-item-wrap" hdt-reveal="slide-in" timeline>
  <div class="hdt-ship-icon">
    {%- liquid
      if block.settings.icon != blank 
        echo block.settings.icon
      elsif block.settings.image_icon != blank 
        assign image = block.settings.image_icon 
        echo image | image_url: width: image.width | image_tag: width: image.width, height: image.height, sizes: '50',widths: '20,30,40,50,60', class: 'hdt-object-cover hdt-icon'
      else 
        render 'icon_shipping', icon_name: block.settings.icon_themes, icon_class: 'hdt-icon' 
      endif
    -%}
  </div>
  <div class="hdt-ship-content">
    {% content_for 'blocks' %}
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.shipping.shipping_item.name",
    "class": "hdt-shipping-item hdt-snap-start",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.shipping.shipping_item.content"
      },
      {
        "type": "select",
        "id": "icon_themes",
        "label": "t:sections.shipping.shipping_item.select_icon.label",
        "info": "t:sections.shipping.shipping_item.select_icon.info",
        "default": "car",
        "options": [
          {
            "value": "none",
            "label": "t:blocks.icon.options.none"
          },
          {
            "value": "car",
            "label": "t:blocks.icon.options.car"
          },
          {
            "value": "truck",
            "label": "t:blocks.icon.options.truck"
          },
          {
            "value": "diamond",
            "label": "t:blocks.icon.options.diamond"
          },
          {
            "value": "door-lock",
            "label": "t:blocks.icon.options.door_lock"
          },
          {
            "value": "gym",
            "label": "t:blocks.icon.options.gym"
          },
          {
            "value": "hammer",
            "label": "t:blocks.icon.options.hammer"
          },
          {
            "value": "headphones",
            "label": "t:blocks.icon.options.headphones"
          },
          {
            "value": "helm",
            "label": "t:blocks.icon.options.helm"
          },
          {
            "value": "hourglass",
            "label": "t:blocks.icon.options.hourglass"
          },
          {
            "value": "map",
            "label": "t:blocks.icon.options.map"
          },
          {
            "value": "piggy",
            "label": "t:blocks.icon.options.piggy"
          },
          {
            "value": "refesh",
            "label": "t:blocks.icon.options.refesh"
          },
          {
            "value": "rocket",
            "label": "t:blocks.icon.options.rocket"
          },
          {
            "value": "shield",
            "label": "t:blocks.icon.options.shield"
          },
          {
            "value": "shield2",
            "label": "t:blocks.icon.options.shield_2"
          },
          {
            "value": "smile",
            "label": "t:blocks.icon.options.smile"
          },
          {
            "value": "scissors",
            "label": "t:blocks.icon.options.scissors"
          },
          {
            "value": "shuffle",
            "label": "t:blocks.icon.options.shuffle"
          },
          {
            "value": "cloud_upload",
            "label": "t:blocks.icon.options.cloud_upload"
          },
          {
            "value": "cash",
            "label": "t:blocks.icon.options.cash"
          },
          {
            "value": "way",
            "label": "t:blocks.icon.options.way"
          },
          {
            "value": "wristwatch",
            "label": "t:blocks.icon.options.wristwatch"
          },
          {
            "value": "world",
            "label": "t:blocks.icon.options.world"
          },
          {
            "value": "wallet",
            "label": "t:blocks.icon.options.wallet"
          },
          {
            "value": "unlock",
            "label": "t:blocks.icon.options.unlock"
          },
          {
            "value": "umbrella",
            "label": "t:blocks.icon.options.umbrella"
          },
          {
            "value": "repeat",
            "label": "t:blocks.icon.options.repeat"
          },
          {
            "value": "refesh-2",
            "label": "t:blocks.icon.options.refesh_2"
          },
          {
            "value": "medal",
            "label": "t:blocks.icon.options.medal"
          },
          {
            "value": "portfolio",
            "label": "t:blocks.icon.options.portfolio"
          },
          {
            "value": "like",
            "label": "t:blocks.icon.options.like"
          },
          {
            "value": "plance",
            "label": "t:blocks.icon.options.plance"
          },
          {
            "value": "map-maker",
            "label": "t:blocks.icon.options.map_maker"
          },
          {
            "value": "help",
            "label": "t:blocks.icon.options.help"
          },
          {
            "value": "gift",
            "label": "t:blocks.icon.options.gift"
          },
          {
            "value": "cart",
            "label": "t:blocks.icon.options.cart"
          },
          {
            "value": "box",
            "label": "t:blocks.icon.options.box"
          },
          {
            "value": "back",
            "label": "t:blocks.icon.options.back"
          },
          {
            "value": "back2",
            "label": "t:blocks.icon.options.back2"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image_icon",
        "label": "t:blocks.icon.custom_image_icon.label"
      },
      {
        "type": "textarea",
        "id": "icon",
        "label": "t:blocks.icon.custom_svg_icon.label"
      },
      {
        "type": "paragraph",
        "content": "t:blocks.icon.custom_svg_icon.content"
      },
    ],
    "blocks": [
      {
        "type": "heading"
      },
      {
        "type": "text"
      },
      {
        "type": "spacer"
      },
      {
        "type": "_liquid"
      }
    ],
    "presets": [
      {
        "name": "t:sections.shipping.shipping_item.name",
        "blocks": [
          {
            "type": "heading",
            "settings": {
              "heading": "<h4>FREE SHIPPING</h4>",
              "hidden_br_mobile": false,
              "hidden_on_mobile": false,
              "heading_size": "h6",
              "text_color": "hdt-s-text",
              "font_size_heading_lg": 16,
              "font_size_heading": 24,
              "letter_spacing_heading": 0
            }
          },
          {
            "type": "spacer",
            "settings": {
              "direction": false,
              "space_lg": 4,
              "space_md": 4,
              "space": 4
            }
          },
          {
            "type": "text",
            "settings": {
              "text": "<p>Free shipping on all US order or order above $100</p>",
              "hidden_br_mobile": false,
              "hidden_on_mobile": false,
              "text_size": "base",
              "text_color": "hdt-text-secondary",
              "font_size_text_lg": 16,
              "font_size_text": 14,
              "letter_spacing_text": 0
            }
          }
        ]
      }
    ]
  }
{% endschema %}
